* {
    margin: 0;
    /* margin: 0px 0px 0px 0px; */
    padding: 0;
}

.body {
    background-color: black;
    color: white;
}

.left {
    width: 25vw;
    padding: 10px;
}

.right {
    width: 75vw;
}

.home ul li {
    width: 15px;
    list-style: none;
    display: flex;
    gap: 15px;
    padding-top: 14px;
    font-weight: bold;
}

.heading {
    width: 100%;
    display: flex;
    gap: 15px;
    padding-top: 14px;
    padding: px 14px;
    /* padding: 23px 14px; */
    font-weight: bold;
    align-items: center;
    font-size: 9px;
}

.library {
    min-height: 75vh;
    position: relative;
}

.heading img {
    width: 19px;

}

.footer {
    display: flex;
    font-size: 10px;
    color: grey;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
}

.footer a {
    color: grey;
}

.right {
    margin: 16px 0;
    position: relative;
}

.header {
    display: flex;
    justify-content: flex-end;
    /* justify-content: space-between; */
    /* padding: 20px; */
    background-color: rgb(34, 34, 34);

}

.header>* {
    padding: 15px;
}

.spotifyplaylist {
    padding: 12px;
}

.spotifyplaylist h1 {
    padding: 12px;
}

.cardcontainer {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-left: 20px;
    overflow-y: auto;
    max-height: 70vh;
    /* justify-content:center; */
}

.card {
    width: 170px;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
    transition: all .9s;
}

.card>* {
    padding-top: px;
}
:root{
    --a:0;
}

.card img {
    width: 100%;
    /* object-fit: contain; */
    height: 170px;
}
.card:hover{
    background-color: black;
    cursor: pointer;
    --a: 1;
}

.play {
    width: 28px;
    height: 28px;
    background-color: #1fdf64;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    top: 165px;
    left: 125px;
    opacity: var(--a);
}

.buttons>* {
    margin: 0 12px;
}


.signupbtn {
    background-color: rgb(34, 34, 34);
    color: rgb(156, 148, 148);
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}

.signupbtn:hover {
    font-size: 17px;
    color: white;
}

.loginbtn {
    background-color: white;
    border-radius: 21px;
    color: black;
    /* font-weight: bold;  */
    padding: 10px;
    width: 79px;
    cursor: pointer;
    font-size: 16px;
}

.loginbtn:hover {
    font-weight: bold;
    font-size: 17px;
}

.playbar {
    /* height: 28px; */
    min-height: 38px;
    position: fixed;
    /* bottom: 26px; */
    bottom: 12px;
    /* filter: invert(1); */
    background-color: rgb(34 19 19);
    border-radius: 10px;
    width: 96%;
    padding: 4px;
    /* padding: 10px; */
    /* margin-top: 12px; */
    width: 70vw;
    justify-items: center;
}

.songbuttons {
    display: flex;
    justify-content: center;
    gap: 16px;

    /* position: fixed; */
}

.songlist ul {
    padding: 0 2px;
}

.songlist ul li {
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    cursor: pointer;
    padding: 12px 0;
    border: 1px solid white;
    margin: 12px;
    padding: 13px;
    border-radius: 5px;
}

.playnow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playnow img {
    height: 25px;
}

.playnow span {
    font-size: 15px;
    width: 64px;
    padding: 12px;
}

.songlist .info {
    font-size: 13px;
    width: 344px;
    justify-content: left;
}

.songlist {
    height: 450px;
    overflow: auto;
    /* margin-bottom: 30px 0; */
}

.hamburger {
    display: none;
}

.seekbar {
    height: 4px;
    width: 99%;
    background: white;
    border-radius: 10px;
    position: absolute;
    bottom: 3px;
    margin: 1px;
    cursor: pointer;
}

.circle {
    width: 10px;
    height: 10px;
    border-radius: 13px;
    background-color: rgb(4, 4, 4);
    position: relative;
    bottom: 4px;
    left: 0%;
    transition: left 0.5s;
}

.songbuttons img {
    cursor: pointer;
}

.abovebar {
    display: flex;
    justify-content: space-between;
    width: 94%;
    /* justify-content: space-between; */
}

.timevol {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.volume {
    width: 95px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.range input {
    height: 10px;
    cursor: pointer;
}

/* .volume:hover::after{
    content: "fnwsdvf";
} */

.songinfo {
    color: white;
    width: 400px;
    height: 30px;
}

.songtime {
    text-align: -webkit-center;
    color: white;
    width: 200px;
    height: 30px;

}

.close {
    display: none;
}

@media (max-width: 600px) {
    .left {
        background-color: black;
        position: absolute;
        left: -120%;
        transition: all .3px;
        z-index: 1;
        width: 373px;
        padding: 0;
    }

    .left .close {
        display: block;
        position: absolute;
        right: 17px;
        top: 21px;
        width: 29px;
    }

    .right {
        width: 100%;
        margin: 0;
        height: 870px;

    }
    .header{
        justify-content: space-between;
    }

    .playbar {
        width: 88vw;
        bottom: 23px;
        height: 52px;
        font-size: 9px;
        /* width: calc(100vw -60px); */
        justify-self: center;
    }

    .seekbar {
        width: 88vw;
    }

    .songinfo, .songtime {
        color: white;
        width: 100px;
        /* width: auto; */
        height: 15px;
    }

    .info div {
        word-break: break-all;
    }

    .hamburger {
        display: block;
        height: 41px;
        width: 34px;
        
    }

    .spotifyplaylist {
        padding: 12px;
        margin-bottom: 78px;
    }

    .card {
        width: 34vw;
    }

    .cardcontainer {
        justify-content: center;
    }

    /* .abovebar{
        flex-direction: column;
        gap: 23px;
        align-items: center;
    } */

    .range input {
        height: 10px;
        width: 45px;
    }

    .timevol {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 13px;
    }
}


@media (max-width: 400px) {
    .card{
        width: 50vw;
    }
}