.border{
    border: 2px solid red;
    margin: 5px;
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.item-center{
    align-items: center;
}

.bg-black{
    background-color: black;
    color: white;

}

.invert{
    filter: invert(1);
}

.bg-grey{
    background-color: #121212;
}
.rounded{
    border-radius: 5px;
}
.m-1{
    margin: 5px ;
}

.p-1{
    padding: 10px;
}


/* Dark Scrollbar CSS */
::-webkit-scrollbar {
  width: 10px; /* Vertical scrollbar width */
  height: 10px; /* Horizontal scrollbar height */
}

::-webkit-scrollbar-track {
  background: #1a1a1a; /* Dark track color */
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #3d3d3d; /* Scrollbar handle color */
  border-radius: 5px;
  border: 2px solid #1a1a1a; /* Creates padding effect */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Hover state */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #3d3d3d #1a1a1a;
}

